.job
  display flex
  margin-bottom 100px
  position relative

.logo
  height 100px
  width @height
  border-radius 50%
  margin-right 40px

.company
  color #00adef
  font-size responsive 18px 26px
  font-weight bold

.date
  font-style italic
  font-size responsive 14px 22px

.info span
  text-decoration underline