section.experience

  h1 Work Experience

  .job
    img(src="img/tr.svg", alt="").logo
    .line
    .info
      h2.position Data Analyst
      a(href="http://thomsonreuters.com/en.html").company Thomson Reuters
      p.date 01/2013 - 01/2015 (Gdynia, Poland)
      p Thomson Reuters has inspired and challenged me in a ways I never expected. Here I have designed systems and tools analysts use to enhance their workflow and new starters to fit in Actuals/Estimates team. I also performed quality analysis using SQL, conducted research and relevant calculations to update existing and introduce new financial measures. Learning from my teammates I started delivering training sessions for new starters as well as profound training for more experienced colleagues in my own special way.

  .job
    img(src="img/pkihp.jpg", alt="").logo
    .line
    .info
      h2.position Intern
      a(href="http://www.kig.pl/mapa.html?sobi2Task=sobi2Details&catid=13&sobi2Id=147").company Polish-Kazakhstani Chamber of Commerce and Industry
      p.date 11/2011 - 02/2012 Warsaw, Poland
      p I helped grow this little organization performing market analysis, locating and meeting potential recipients of De minimis aid from European Social Fund.

  .job
    img(src="img/sayama.svg", alt="").logo
    .info
      h2.position Project Manager Assistant
      a(href="http://en.sayamatravel.com/sayamatravel").company Sayama Travel
      p.date 07/2011-09/2011 Pattaya, Thailand
      p Sayama is a wonderful place to work. Our clients are some of the biggest hotel chains in Thailand. Here I supported the project manager and design team in developing <span><a href="http://ru.sayamatravel.com/files/catalogs/41/2012_main.html#p=1"> tourist brochure</a></span>. And here I learned the value of graphic design.


  .job
    img(src="img/skill.jpg", alt="").logo
    .info
      h2.position English Consultant - Volunteer
      a(href="http://www.skill.com.br/").company Skill Language School and Blue Ocean Consultants
      p.date 01/2015 - 06/2015 Sao Paulo, Brazil
      p As a part of a team, not only did I create and execute learning plans, but also helped to define <span><a href="http://www.skill.com.br/promocoes"> new products</a></span>.

