section.project

  h1 Featured Projects

  img(src="img/lang-school-big.jpg", alt="")

  h2
    a(href="http://antonkostiuchkov.github.io/blue-ocean/") Blue Ocean Language School

  p I always pay attention how companies interact with its clients. Having a good, clean website that would communicate and promote ideas is an essential part of any business. While volunteering at an English school in Brazil I was frustrated with the state of its website, so I set out to make a new one that would look and feel good.

  a(href="#/work").close Close Project