section.project

  h1 Featured Projects

  img(src="img/tr-big.jpg", alt="")

  h2
    a(href="http://antonkostiuchkov.github.io/actuals/") Thomson Reuters

  p Analyzing financial reports, data analyst needs to calculate various measures. Those measures were calculated using an electronic calculator, which performed basic arithmetic operations while some portion of information analyst had to store in the head. That caused frequent loss of concentration thus forcing analyst repeat calculations. Another hurdle was slow computers, and using Excel spreadsheets was not applicable.

  a(href="#/work").close Close Project