
<section class="experience">
  <h1>Work Experience</h1>
  <div class="job"><img src="img/tr.svg" alt="" class="logo"/>
    <div class="line"></div>
    <div class="info">
      <h2 class="position">Data Analyst</h2><a href="http://thomsonreuters.com/en.html" class="company">Thomson Reuters</a>
      <p class="date">01/2013 - 01/2015 (Gdynia, Poland)</p>
      <p>Thomson Reuters has inspired and challenged me in a ways I never expected. Here I have designed systems and tools analysts use to enhance their workflow and new starters to fit in Actuals/Estimates team. I also performed quality analysis using SQL, conducted research and relevant calculations to update existing and introduce new financial measures. Learning from my teammates I started delivering training sessions for new starters as well as profound training for more experienced colleagues in my own special way.</p>
    </div>
  </div>
  <div class="job"><img src="img/pkihp.jpg" alt="" class="logo"/>
    <div class="line"></div>
    <div class="info">
      <h2 class="position">Intern</h2><a href="http://www.kig.pl/mapa.html?sobi2Task=sobi2Details&amp;catid=13&amp;sobi2Id=147" class="company">Polish-Kazakhstani Chamber of Commerce and Industry</a>
      <p class="date">11/2011 - 02/2012 Warsaw, Poland</p>
      <p>I helped grow this little organization performing market analysis, locating and meeting potential recipients of De minimis aid from European Social Fund.</p>
    </div>
  </div>
  <div class="job"><img src="img/sayama.svg" alt="" class="logo"/>
    <div class="info">
      <h2 class="position">Project Manager Assistant</h2><a href="http://en.sayamatravel.com/sayamatravel" class="company">Sayama Travel</a>
      <p class="date">07/2011-09/2011 Pattaya, Thailand</p>
      <p>Sayama is a wonderful place to work. Our clients are some of the biggest hotel chains in Thailand. Here I supported the project manager and design team in developing <span><a href="http://ru.sayamatravel.com/files/catalogs/41/2012_main.html#p=1"> tourist brochure</a></span>. And here I learned the value of graphic design.</p>
    </div>
  </div>
  <div class="job"><img src="img/skill.jpg" alt="" class="logo"/>
    <div class="info">
      <h2 class="position">English Consultant - Volunteer</h2><a href="http://www.skill.com.br/" class="company">Skill Language School and Blue Ocean Consultants</a>
      <p class="date">01/2015 - 06/2015 Sao Paulo, Brazil</p>
      <p>As a part of a team, not only did I create and execute learning plans, but also helped to define <span><a href="http://www.skill.com.br/promocoes"> new products</a></span>.</p>
    </div>
  </div>
</section>